.container.p8 .item .tile h3 {
    font-size: 36px;
}

.container.p8 .item .tile span {
    font-family: Arial;
}

.container.p8 .item .tile span div {
    /* background-color: rgba(0, 0, 0, .4); */
    /* background: linear-gradient(rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%), url(images/projects/jkp_portal.png); */
    /* background-image: url('./images/projects/jkp_portal.png') center top no-repeat; */
    font-size: 16px;
    font-weight: bold;
    line-height: 2em;
    padding: 0 40px 0 45px;
    color: white;
    /* opacity: 0.2; */

    /* background-image: url('./images/projects/jkp_portal.png') center top no-repeat; */
    /* background-size: cover; */
}

.container.p8 .item .tile span strong {
    color: #d9534f;
    font-size: 16px;
}

.container.p8 .item .tile .project-img:hover {
    height: 500px;
}

/* .container.p8 .item .tile span ul>li:nth-child(even) {
    background-color: #d9534f;
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
} */