.p8 .item .tile h3 {
    font-size: 36px;
}

.p8 .item .tile span {
    font-family: Arial;
}

.p8 .item .tile span .skills-list {
    font-size: 16px;
    font-weight: bold;
    line-height: 2em;
    padding: 0 40px 0 45px;
    color: white;
    transition: all 0.6s ease;
    transform-style: preserve-3d;
    background-position: center;
    background-size: cover;
    /* opacity: 0.2; */

}

.p8 .item .tile span>a {
    text-decoration: none;
}

.p8 .item .tile span>a:hover {
    text-decoration: none;
}


.p8 .item .tile span .skills-list>ul {
    margin-top: 6px;
    margin-bottom: 6px;
}

.p8 .item .tile span .skills-list>ul {
    list-style-type: none;
    padding: 0;
}

.p8 .item .tile span.box-footer {
    display: flex;
    color: #d9534f;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    line-height: 1.5em;
    /* height: 55px; */
}

.p8 .item .tile span.box-footer>ul {
    list-style-type: none;
    padding: 0;
}
